---
import "../style/global.css";
import PageLayout from "../PageLayout/PageLayout.astro";
import Cardshop from "../components/Cardshop.astro";
import Menushop from "../components/Menushop.astro";


const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9rb3VveGZwdHd1aXV2eW5wZW5vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNDUzMzcsImV4cCI6MjA5NDkyMTMzN30.Ho_FKbZeRhGOL0hL93Ko2V096lDcpgy60FoR0cQHnWs",
    Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9rb3VveGZwdHd1aXV2eW5wZW5vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNDUzMzcsImV4cCI6MjA5NDkyMTMzN30.Ho_FKbZeRhGOL0hL93Ko2V096lDcpgy60FoR0cQHnWs",
  }
};

const response = await fetch(
  "https://okouoxfptwuiuvynpeno.supabase.co/rest/v1/Shop",
  options
);

const data = await response.json();

const categories = [...new Set(data.map((item: { Category: any; }) => item.Category))];
---

<PageLayout heading="Shop">

  <div class="textshop">
    <h1>Vores Webshop</h1>
    <p>I Søstre & Brødres webshop kan du købe produkter, der både skaber synlighed omkring køn, ligestilling og fællesskab - og samtidig støtter vores arbejde. Her finder du blandt andet merchandise, plakater og andre udvalgte produkter, hvor overskuddet er med til at styrke vores oplysningsarbejde, udvikle nye initiativer samt støtte vores forhandlere.</p>

  </div>

  <Menushop categories={categories} />

  <div class="grid">

    {data.map((shop: any) => (
      <div
        class="shop-item"
        data-category={shop.Category}
      >
        <Cardshop ShopData={shop} />
      </div>
    ))}

  </div>

</PageLayout>


<script>
  const buttons = document.querySelectorAll(".filter-btn");
  const items = document.querySelectorAll(".shop-item");

  const params = new URLSearchParams(window.location.search);
  const startKategori = params.get("kategori") || "Alle";

  function filtrer(category: string) {
    items.forEach(item => {
      if (category === "Alle" || item.dataset.category === category) {
        item.style.display = "block";
      } else {
        item.style.display = "none";
      }
    });
  }

  filtrer(startKategori);

  buttons.forEach(button => {
    button.addEventListener("click", () => {
      filtrer(button.dataset.category);
    });
  });
</script>
<style>
.shop-item {
 display: grid;
  grid-row: span 4;
  grid-template-rows: subgrid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 2rem;
  margin: 2rem;
}

.textshop {
  text-align: center;
  margin: 2rem 0;
}

.textshop p {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .textshop p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

</style> 
