---
import "../style/global.css";
import PageLayout from "../PageLayout/PageLayout.astro";
import Cardshop from "../components/Cardshop.astro";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9rb3VveGZwdHd1aXV2eW5wZW5vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNDUzMzcsImV4cCI6MjA5NDkyMTMzN30.Ho_FKbZeRhGOL0hL93Ko2V096lDcpgy60FoR0cQHnWs"
  }
};

const response = await fetch("https://okouoxfptwuiuvynpeno.supabase.co/rest/v1/Shop", options);
const data = await response.json();

---

<PageLayout heading="Shop">
  <div class="grid">
    {data.map((shop) => (
      <Cardshop ShopData={shop} />
    ))}
  </div>
</PageLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 1rem;
  }

  @media (max-width: 600px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
