---
const { title, indhold } = Astro.props;
---

<div class="afsnit">
    <h3>{title}</h3>
    <p>{indhold}</p>
</div>

<style>
    h3 {
        margin-bottom: 1rem;
    }

    .afsnit {
        max-width: 900px;
        margin: 0 auto;
        padding: 1.5rem;
    }
</style>
