---
const { ShopData } = Astro.props;
import RundKnap from "../components/RundKnap.astro";
---

<article>
    <img src={ShopData.Photo} alt={ShopData.Name} /> 
    <p><strong>{ShopData.Name}</strong></p>
    <p>{ShopData.Price}</p>
    <RundKnap tekst="KØB NU" href={"/button/" + ShopData.slug} />  <!-- ← ret her -->
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 4px;
  }


</style>