---
---


<section class="omos-hero">
  <div class="omoshero-tekst">
    <h1>Om Søstre & Brødre</h1>
    <p>Søstre & Brødre formidler forskning, nyheder og analyser om køn og ligestilling. Sammen skaber vi fællesskab om det, der betyder noget.</p>
  </div>
  <div class="omoshero-billede">
    <img src="/imgs/om-os-hero.jpg" alt="Søstre og Brødre holdet" />
  </div>
</section>


