---

---

<section class="omos-hero">
  <h1>Om Søstre & Brødre</h1>

  <div class="omos-content">
    <div class="omos-right">
      <div class="omos-p">
        <p>Søstre & Brødre formidler forskning, nyheder og analyser om køn og ligestilling. Sammen skaber vi fællesskab om det, der betyder noget.</p>
      </div>

      <div class="omos-img">
        <img src="/imgs/vektorgrafik.svg" alt="Søstre og Brødre holdet" />
      </div>
    </div>

    <div class="omos-img">
      <img class="fællesbillede" src="/imgs/fællesbillede.webp" alt="Hvem er vi" />
    </div>
  </div>
</section>

<style>
  h1 {
    margin: 2rem 6rem 2rem;
  }

  .omos-hero {
    text-align: center;
    padding: 3rem 2rem 0;
    max-width: 1100px;
    margin: 0 auto;
  }

  .omos-hero img {
    display: block;
    max-width: 100%;
  }

  .omos-p {
    margin: 2rem 4rem 2rem;
  }

  .omos-img {
    margin-top: 2rem;
    display: block;
    width: 100%;
  }

  .fællesbillede {
    width: 70%;
    margin: 2rem auto 0;
    text-align: center;
  }

  @media (min-width: 768px) {
    .omos-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      align-items: center;
      text-align: left;
    }

    .fællesbillede {
      width: 100%;
      display: block;
      margin-top: 2rem;
      text-align: center;
    }
  }
</style>
