---
---


<section class="omos-hero">
    <h1>Om Søstre & Brødre</h1>

    <div class="omos-p">
    <p>Søstre & Brødre formidler forskning, nyheder og analyser om køn og ligestilling. Sammen skaber vi fællesskab om det, der betyder noget.</p>
</div>

<div class="omos-img">
    <img src="/imgs/grafik.webp" alt="Søstre og Brødre holdet" />
</div>

<img class="fællesbillede" src="/imgs/fællesbillede.webp" alt="Hvem er vi">
</section>


<style>
    .omos-hero {
      text-align: center;
      padding: 3rem 2rem 0;
      max-width: 400px;
    margin: 0 auto;
    }
  
    .omos-hero img {
      width: 100%;
      display: block;
    }

    .omos-p {
        margin-top: 3rem;
    }

    .omos-img {
      margin-top: 2rem;
    }

    .fællesbillede {
margin-top: 2rem;
  }

  </style>
 
  

