---
---

<section class="samarbejdspartnere">
<h2>Hvem samarbejder med os?</h2>
<img src="/imgs/partner_result.webp" alt="partner">
</section>

<style>
    .samarbejdspartnere {
        text-align: center;
        padding: 3rem 2rem 0;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .samarbejdspartnere h2{
        margin-bottom: 3rem;
    }

</style>