---
---

<section class="samarbejdspartnere">
<h2>Hvem samarbejder med os?</h2>
<img src="/imgs/partnere.webp" alt="partner">
</section>

<style>
    .samarbejdspartnere {
        text-align: center;
        padding: 3rem 2rem 0;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .samarbejdspartnere h2{
        margin-bottom: 3rem;
    }

    .samarbejdspartnere img {
        max-width: 100%;
        height: auto;
    }

@media (min-width: 768px) {
    .samarbejdspartnere {
        padding: 3rem 10rem 0;
        margin-top: 4rem;
        margin-bottom: 6rem;
    }
}
</style>